# Ignore artifacts
node_modules/
dist/
build/
.env
.env.*
logs/
*.log
.vscode/
.idea/
*.local

# Ignore git and husky hooks
.git/
.husky/

# Ignore generated Prisma migrations
prisma/migrations/

# Ignore static caches
.cache/

# Ignore lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock

# Ignore bundled files
*.min.js

# Keep editor files
*.swp
*.swo

